    GLOBAL_SETTINGS
    LAB_MASTER_SEED steg-cfg-random_seed
    COLLECT_DOCS YES
NETWORK LAN
     MASK 192.168.1.0/24
     GATEWAY 192.168.1.1
CONTAINER encoder
     USER ubuntu
     X11 YES
     ADD-HOST decoder:192.168.1.3
     LAN 192.168.1.2
CONTAINER decoder
     USER ubuntu
     X11 YES
     ADD-HOST encoder:192.168.1.2
     LAN 192.168.1.3
